body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
    margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.project {
    flex: 1 1 calc(50% - 16px);
    border: 1px solid #ccc;
    padding: 16px;
    box-sizing: border-box;
}

.project img {
    width: 100%;
}

.project a {
    display: block;
    margin-top: 8px;
    text-align: center;
    color: #0073e6;
    text-decoration: none;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.blog {
    flex: 1 1 calc(50% - 16px);
    border: 1px solid #ccc;
    padding: 16px;
    box-sizing: border-box;
}

.blog img {
    width: 100%;
}

.blog a {
    display: block;
    margin-top: 8px;
    text-align: center;
    color: #0073e6;
    text-decoration: none;
}

.right {
    margin-left: 800px;
    padding-bottom: -200px;
}

